@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* //////////////////////////////////////////////// FOR ALL PAGES /////////////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    list-style: none;
    text-decoration: none;
}

h1.title {
    color: #444444;
    text-transform: uppercase;
    font-size: 38px;
    letter-spacing: 3px;
    margin-bottom: 22px;
}

p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #383f4e9c;
}

.container {
    position: relative;
}


/* Header */



.header,
.header-china,
.header-viet,
.header-yt,
.header-was {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #5a5a5abb;
    position: fixed;
}


.header .header-items ul,
.header-china .header-items ul,
.header-viet .header-items ul,
.header-yt .header-items ul,
.header-was .header-items ul {
    display: flex;
}

.header .header-items ul li,
.header-china .header-items ul li,
.header-viet .header-items ul li,
.header-yt .header-items ul li,
.header-was .header-items ul li {
    margin: 0 10px;
}




/* //////////////////////////////////////// BIG FOOTER ////////////////////////////////////////// */

.footer-wrapper {
    width: 1100px;
    margin: 0 auto;
}

.data-footer {
    width: 33%;
    padding-top: 50px;
    float: left;
    text-align: left;
    color: #fff;

}

.data-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.data-footer ul a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

.data-footer ul a:hover {
    color: #e05389fd;
    margin-left: 15px;
    transition: all .6s;
}

.data-footer p {
    width: 70%;
}

.footer {
    width: 100%;
    height: 250px;
    bottom: 0;
    background-color: #262626;
    z-index: -1;
    display: flex;
}

/* //////////////////////////////////    LITTLE FOOTER  /////////////////////////////////////////////////// */



.footer-home {
    width: 100%;
    text-align: center;
    background: #131212;
    padding: 20px 0;
}


.footer-home a {
    color: #fff;
}

/* //////////////////////////////////////////////// HOME PAGE /////////////////////////////////////////// */

/* Image de bannière */
.image-banniere-home {
    background: url('ac-pic/bg-img2.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.header .header-items ul li a {
    text-transform: uppercase;
    color: #fff;

}

.header .header-items ul li a:hover {
    text-transform: uppercase;
    color: #e05389fd;
    transition: all 0.3s;
}

.logo a {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}


.contenu-banniere {
    text-align: center;
    color: #e05389fd;
}

.contenu-banniere h1 {
    text-transform: uppercase;
    line-height: 39px;
    margin-bottom: 16px;
}

.contenu-banniere h1 span {
    color: #fff;
}

.contenu-banniere p {

    color: #e05389fd;
}

/* //////////////////////////////////////////////// ABOUT PART /////////////////////////////////////////// */
.about,
.page,
.asianteam {
    text-align: center;
    padding: 5% 10%;
}

/* //////////////////////////////////////////////// PAGES PART /////////////////////////////////////////// */
.page {
    background: #f5f5f5;
}

.all-page {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.all-page .all-page-item {
    width: 30%;
}

.all-page .all-page-item img {
    width: 100%;
    margin-bottom: 25px;
}

.all-page .all-page-item h3 {
    margin-bottom: 15px;
    color: #e05389fd;

}

.turn-touch img:hover,
.viet-touch img:hover,
.china-touch img:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: all 0.4s;

}

/* //////////////////////////////////////////////// TEAM PART /////////////////////////////////////////// */
.asianteam {
    background: #fff;
}

.asianteam-wrapper {
    display: flex;
    flex-direction: column;
}

.asianteam-wrapper .team {
    display: flex;
    justify-content: space-between;
}

.asianteam-wrapper .team {
    margin-bottom: 25px;
}

.asianteam-wrapper .member {
    width: 30%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.asianteam-wrapper .member img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}

.asianteam-wrapper .member:hover img {
    transform: scale(1.1);
}



/* //////////////////////////////////////////////// MEDIA SETTINGS FOR RESPONSIVE /////////////////////////////////////////// */

@media (max-width: 720px) {

    .header,
    .header-china,
    .header-viet,
    .header-yt,
    .header-was {
        height: auto;
        flex-direction: column;
        position: relative;
    }

    .logo {
        margin-bottom: 25px;
    }

    .header-items ul {
        flex-direction: column;
        text-align: center;
    }

    .header-items ul li {
        margin-bottom: 5px;
    }

    .contenu-banniere {
        margin-top: 35px;
    }

    .jeu {
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        text-align: center;
    }

    .pendu-clavier {
        padding-left: 40px;
        padding-bottom: 20px;
    }

    .pendu-mot {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;

    }
}


/* //////////////////////////////////////////////// CHINA AND VIETNAM PAGES /////////////////////////////////////////// */

.logo-viet a {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

.logo-china a {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

.header-china .header-items ul li a {
    text-transform: uppercase;
    color: #fff;
}

.header-china .header-items ul li a:hover {
    text-transform: uppercase;
    color: #00a2ffda;
    transition: all 0.3s;
}

.header-viet .header-items ul li a {
    text-transform: uppercase;
    color: #fff;
}

.header-viet .header-items ul li a:hover {
    text-transform: uppercase;
    color: #1ae05cda;
    transition: all 0.3s;
}

.image-banniere-china {
    background: url('china-pic/china.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-banniere-vietnam {
    background: url('vietnam-pic/vietnam.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu-banniere-china {
    margin-top: 35px;
    text-align: center;
    color: #fff;
}

.contenu-banniere-china h1 span {
    color: #00a2ffda;
}

.contenu-banniere-china p {
    color: #fff;
}

.contenu-banniere-vietnam {
    margin-top: 35px;
    text-align: center;
    color: #fff;
}

.contenu-banniere-vietnam h1 span {
    color: #1ae05cda;
}

.contenu-banniere-vietnam p {
    color: #fff;

}

.contenu-banniere-china h1,
.contenu-banniere-vietnam h1 {
    text-transform: uppercase;
    line-height: 39px;
    margin-bottom: 16px;
}


.about-china,
.article-china,
.article-china1,
.article-china2,
.article-china3,
.about-vietnam,
.article-vietnam,
.article-vietnam1,
.article-vietnam2,
.article-vietnam3 {
    text-align: center;
    padding: 5% 10%;
}


.article-china,
.article-china2,
.article-vietnam,
.article-vietnam2 {
    background: #fff;
}

.article-china1,
.article-china3,
.article-vietnam1,
.article-vietnam3 {
    background: #f5f5f5;

}

.all-article-china,
.all-article-vietnam {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.all-article-china .all-article-china-item,
.all-article-vietnam .all-article-vietnam-item {
    width: 30%;
}

.all-article-china .all-article-china-item img,
.all-article-vietnam .all-article-vietnam-item img {
    width: 100%;
    margin-bottom: 25px;
}

.all-article-china .all-article-china-item h3,
.all-article-vietnam .all-article-vietnam-item h3 {
    margin-bottom: 15px;
    color: #1ab2e0da;

}

/* //////////////////////////////////////////////// YOUR TURN PAGE /////////////////////////////////////////// */

.logo-yt a {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

.header-yt .header-items ul li a {
    text-transform: uppercase;
    color: #fff;
}

.header-yt .header-items ul li a:hover {
    text-transform: uppercase;
    color: #1ab2e0da;
    transition: all 0.3s;
}

.image-banniere-yt {
    background: url('images/cover.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu-banniere-yt {
    margin-top: 39px;
    text-align: center;
    color: #fff;
}


.contenu-banniere-yt h1 {
    text-transform: uppercase;
    line-height: 39px;
    margin-bottom: 16px;
}

.contenu-banniere-yt h1 span {
    color: rgba(255, 238, 0, 0.815);
}

.about-yt {
    text-align: center;
    padding: 5% 10%;
}

/*  GAME STYLE*/
#mot {
    margin: 30px 0 0 0;
    clear: both;
    top: 100px;
}

#mot td {
    padding: 20px;
    background-color: #1ee193;
    border: 2px inset black;
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

#mot p {
    visibility: hidden;
}

#clavier {
    border: 5px outset black;
    padding: 15px;
    background-color: rgba(17, 17, 17, 0.733);
}

#clavier td {
    background-color: #fff;
    border: 5px solid black;
    width: 35px;
    height: 45px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

a.lien {
    border: solid 1px black;

}

.mot-clavier {
    display: flex;
    flex-direction: column;
}

.jeu {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    padding-top: 15px;
}

.hidden h1 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.hidden_ {
    display: none;
    text-align: center;
    padding: 5% 10%;
}

.pendu-img {
    padding-left: 40px;
    padding-bottom: 15px;
}

.pendu-mot {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}



/* //////////////////////////////////////////////// WHAT ABOUT US PAGE /////////////////////////////////////////// */

.logo-was a {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

.header-was .header-items ul li a {
    text-transform: uppercase;
    color: #fff;
}

.header-was .header-items ul li a:hover {
    text-transform: uppercase;
    color: #ffa600da;
    transition: all 0.3s;
}

.image-banniere-was {
    background: url('was-pic/cover.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu-banniere-was {
    margin-top: 35px;
    text-align: center;
    color: #fff;
}


.contenu-banniere-was h1 {
    text-transform: uppercase;
    line-height: 39px;
    margin-bottom: 16px;
}

.contenu-banniere-was h1 span {
    color: #ffa600da;
}


.about-was,
.article-was {
    text-align: center;
    padding: 5% 10%;

}

.article-was {
    text-align: center;
    padding: 5% 10%;
    background: #f5f5f5;

}

.all-article-was {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.all-article-was .all-article-was-item {
    width: 30%;
}

.all-article-was .all-article-was-item img {
    width: 100%;
    margin-bottom: 25px;
}

.all-article-was .all-article-was-item h3 {
    margin-bottom: 15px;
    color: #ffa600da;

}

.all-article-was img {
    transition: all 0.5s ease;
    border-radius: 100px;
}

.all-article-was img:hover {
    transform: scale(1.1);
    cursor: pointer;
}