body {
    margin: 0;
    font-weight: 400;
}

/*HEADER*/
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

header {
    background: rgba(17, 17, 17, 0.733);
}

header:after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;

    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 17px;
    color: aliceblue;
}

nav {
    float: right;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;

}

nav a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;

}

nav a:hover {
    color: rgba(245, 245, 245, 0.692);

}

/*BODY*/


#video {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.informations {
    display: flex;
    justify-content: space-around;

}

/*FOOTER*/

.footer {
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;

}

.footer,
.footer-content {

    border: 1px solid red;
    height: 350 px;
    display: flex;

}

.footer .footer-content .footer-section {
    flex: 1;
    border: 1px white solid;
}



.footer .footer-content .about h1 span {
    color: #05f7ff;
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all 3s;
}

.footer .footer-content .link ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
}

.footer .footer-content .link ul a:hover {

    color: white;
    margin-left: 15px;
    transition: all .3s;

}

.footer .footer-content .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
}

.footer .footer-content .contact-form .contact-input:focus {
    background: #1a1a1a;
}

.footer .footer-content .contact-form .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .7rem 1.2rem;
}

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 50px;

}

.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
}