/* Page font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* ALL PAGE - HEADERS - BIG FOOTER - LITTLE FOOTER _ MEDIA RESPONSIVE - HOME - CHINA/VIETNAM - MORE - YOUR TURN - GALLERY - ABOUT US */

/* //////////////////////////////////////////////////////// FOR ALL PAGES /////////////////////////////////////////////////////// */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    list-style: none;
    text-decoration: none;
}

h1.title {
    color: #444444;
    text-transform: uppercase;
    font-size: 38px;
    letter-spacing: 3px;
    margin-bottom: 22px;
}

p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #383f4e9c;
}

.container {
    position: relative;
}

.here {
    border-bottom: 1.5px solid #fff;
}

/*//////// UP BTN ////// */

#top-button {
    border: none;
    outline: none;
    background-color: #5a5a5abb;
    opacity: 0.8;
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    bottom: 30px;
    position: fixed;
    right: 30px;
    z-index: 9;
    transition: all 0.5s;
}

#top-button:hover {
    color: #5a5a5abb;
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #5a5a5abb;
    transition: all 0.7s;
}


/* ///////////////////////////////////////////////////// HEADERS //////////////////////////////////////////////////////////////*/

/* The gallery header is the same as the yt one*/

.header,
.header-china,
.header-viet,
.header-yt,
.header-was,
.header-more {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #5a5a5abb;
    position: fixed;
}


.header .header-items ul,
.header-china .header-items ul,
.header-viet .header-items ul,
.header-yt .header-items ul,
.header-was .header-items ul,
.header-more .header-items ul {
    display: flex;
}

.header .header-items ul li,
.header-china .header-items ul li,
.header-viet .header-items ul li,
.header-yt .header-items ul li,
.header-was .header-items ul li,
.header-more .header-items ul li {
    margin: 0 10px;
}

/* This button is located at the home page and is used in order to access to the different page overview*/

.speed-btn {
    background: none;
    font-size: 22px;
    color: white;
    text-decoration: none;
    border: 1.5px solid #fff;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    text-transform: uppercase;
    padding: 12px, 20px;
    min-width: 130px;
    margin: 10px;
}

.speed-btn:hover {
    color: #fff;
}

.speed-btn::before {
    content: "";
    position: absolute;
    background: rgb(15, 161, 172);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.speed-btn:hover::before {
    transform: scaleY(1);

}

.speed-btn a {
    color: #fff;
}

/* Design scroll bar in the side*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #fff;

}

::-webkit-scrollbar-thumb {
    background: #5a5a5abb;
}

.author {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 70px;
}

/* //////////////////////////////////////////////// BIG FOOTER /////////////////////////://////////////////////////////////// */

.footer-wrapper {
    width: 1100px;
    margin-left: 40px;
    display: flex;
}

.data-footer {
    width: 33%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    color: #fff;

}

.data-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.data-footer ul a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

#contacts {
    font-size: 14px;
}

.data-footer ul a:hover {
    color: #888888fd;
    margin-left: 15px;
    transition: all .6s;
}

.data-footer p {
    width: 70%;
}

.footer {
    width: 100%;
    height: 250px;
    bottom: 0;
    background-color: #262626;
    z-index: -1;
    display: flex;
}

/* //////////////////////////////////////////////    LITTLE FOOTER  //////////////////////////////////////////////////////// */



.footer-home {
    width: 100%;
    text-align: center;
    background: #131212;
    padding: 20px 0;
}


.footer-home a {
    color: #fff;
}

/* //////////////////////////////////////////////// HOME PAGE ////////////////////////////////////////////////////////////// */

/* Image de bannière */
.image-banniere-home {
    background: url('ac-pic/bg-img2.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(92, 92, 92) 1px 1px 3px;
}

.header .header-items ul li a {
    text-transform: uppercase;
    color: #fff;

}

.header .header-items ul li a:hover {
    text-transform: uppercase;
    color: rgb(15, 161, 172);
    transition: all 0.3s;
}

.logo a {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

.logo a:hover {
    color: rgb(15, 161, 172);
    transition: all 0.6s;
}


.contenu-banniere {
    text-align: center;
    color: rgb(15, 161, 172);
    opacity: 0.95;
}

.contenu-banniere h1 {
    text-transform: uppercase;
    line-height: 39px;
    margin-bottom: 16px;
}

.contenu-banniere h1 span {

    color: #fff;
}

.page {
    background: #f5f5f5;
    text-align: center;
    padding: 5% 10%;
}

.all-page {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.all-page .all-page-item {
    width: 30%;
}

.all-page .all-page-item img {
    width: 100%;
    margin-bottom: 25px;
    box-shadow: grey 1px 2px 3px;
    border-radius: 4%;
}

.all-page .all-page-item h3 {
    margin-bottom: 15px;
    color: rgb(15, 161, 172);

}

.turn-touch img:hover,
.viet-touch img:hover,
.china-touch img:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: all 0.4s;

}

/* //////////////////////////////////////////////// MEDIA SETTINGS FOR RESPONSIVE ///////////////////////////////////////////////// */

@media (max-width: 725px) {

    #top-button {
        width: 35px;
        height: 35px;
    }

    .header,
    .header-china,
    .header-viet,
    .header-yt,
    .header-was,
    .header-more {
        height: auto;
        flex-direction: column;
        position: relative;
    }

    .logo {
        margin-bottom: 25px;
    }

    .data-footer ul a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 11px;
    }


    .header-items ul {
        flex-direction: column;
        text-align: center;
    }

    .header-items ul li {
        margin-bottom: 5px;
    }

    .contenu-banniere {
        margin-top: 35px;
    }

    .jeu {
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        text-align: center;
    }

    .pendu-clavier {
        padding-left: 40px;
        padding-bottom: 20px;
    }

    .pendu-mot {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;

    }



}




/* //////////////////////////////////////////////// CHINA AND VIETNAM PAGES ////////////////////////////////////////////////////// */

.logo-viet a {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

.logo-viet a:hover {
    color: #12b603;
    transition: all 0.6s;
}

.logo-china a {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

.logo-china a:hover {
    color: rgba(255, 238, 0, 0.795);
    transition: all 0.6s;
}



.header-china .header-items ul li a {
    text-transform: uppercase;
    color: #fff;
}

.header-china .header-items ul li a:hover {
    text-transform: uppercase;
    color: rgba(255, 238, 0, 0.795);
    transition: all 0.3s;
}

.header-viet .header-items ul li a {
    text-transform: uppercase;
    color: #fff;
}

.header-viet .header-items ul li a:hover {
    text-transform: uppercase;
    color: #12b603;
    transition: all 0.3s;
}

.image-banniere-china {
    background: url('china-pic/china.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(92, 92, 92) 1px 1px 3px;
}

.image-banniere-vietnam {
    background: url('vietnam-pic/vietnam.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(92, 92, 92) 1px 1px 3px;
}

.contenu-banniere-china {
    margin-top: 35px;
    text-align: center;
    color: rgba(255, 255, 255, 0.849);
}

.contenu-banniere-china h1 span {
    color: rgba(255, 238, 0, 0.795);
}

.contenu-banniere-vietnam {
    margin-top: 35px;
    text-align: center;
    color: #fff;
}

.contenu-banniere-vietnam h1 span {
    color: #12b603;
}

.contenu-banniere-china h1,
.contenu-banniere-vietnam h1 {
    text-transform: uppercase;
    line-height: 39px;
    margin-bottom: 16px;
}


.about-china,
.article-china,
.article-china1,
.article-china2,
.article-china3,
.about-vietnam,
.article-vietnam,
.article-vietnam1,
.article-vietnam2,
.article-vietnam3 {
    text-align: center;
    padding: 5% 10%;
}


.article-china,
.article-china2,
.article-vietnam,
.article-vietnam2 {
    background: #fff;
}

.article-china1,
.article-china3,
.article-vietnam1,
.article-vietnam3 {
    background: #f5f5f5;

}

.all-article-china,
.all-article-vietnam {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.all-article-china .all-article-china-item,
.all-article-vietnam .all-article-vietnam-item {
    width: 30%;
}

.all-article-china .all-article-china-item img,
.all-article-vietnam .all-article-vietnam-item img {
    width: 100%;
    margin-bottom: 25px;
    box-shadow: grey 1px 2px 3px;
    border-radius: 4%;
}

.all-article-china .all-article-china-item h3 {
    margin-bottom: 15px;
    color: rgba(207, 187, 1, 0.842);

}

.all-article-vietnam .all-article-vietnam-item h3 {
    margin-bottom: 15px;
    color: #12b603;

}

/* /////////////////////////////////////////////////// MORE //////////////////////////////////////////////////////////// */

.image-banniere-more {
    background: url('more-pic/cover.png') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(92, 92, 92) 1px 1px 3px;
}

.header-more .header-items ul li a {
    text-transform: uppercase;
    color: #fff;

}

.header-more .header-items ul li a:hover {
    text-transform: uppercase;
    color: rgb(218, 74, 74);
    transition: all 0.3s;
}

.logo-more a {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

.logo-more a:hover {
    color: rgb(218, 74, 74);
    transition: all 0.6s;
}


.contenu-banniere-more {
    text-align: center;
    color: rgb(218, 74, 74);
    opacity: 0.95;
}

.contenu-banniere-more h1 {
    text-transform: uppercase;
    line-height: 39px;
    margin-bottom: 16px;
}

.contenu-banniere-more h1 span {

    color: #fff;
}

.about-more {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;

}

.article-more {
    background: #f5f5f5;
    text-align: center;
    padding: 5% 10%;

}

.all-article-more {
    display: flex;
    justify-content: space-around;
}

.all-article-more .all-article-more-item {
    width: 30%;
}

.all-article-more .all-article-more-item img {
    width: 100%;
    margin-bottom: 8px;
    box-shadow: grey 1px 2px 3px;
    border-radius: 100%;
}

.all-article-more .all-article-more-item h3 {
    margin-bottom: 5px;
    color: rgba(97, 95, 95, 0.842);
    font-size: medium;
    font-style: italic;
    text-align: center;
}

.all-article-more .all-article-more-item p {
    text-align: center;
}

.article-more2 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

}

.all-article-more2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.all-article-more2 .all-article-more2-item {
    width: 30%;
}

.all-article-more2 .all-article-more2-item img {
    width: 100%;
    padding: 20px
}

.all-article-more2 .all-article-more2-item h3 {
    margin-bottom: 15px;
    color: #3131319f;
    text-decoration: underline;

}

.all-article-more2 img {
    border-radius: 10%;
}

.all-article-more2 img:hover {
    cursor: pointer;
}

/* //////////////////////////////////////////////// YOUR TURN PAGE /////////////////////////////////////////// */

.logo-yt a {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

.logo-yt a:hover {
    color: #ffa723fd;
    transition: all 0.6s;
}

.header-yt .header-items ul li a {
    text-transform: uppercase;
    color: #fff;
}

.header-yt .header-items ul li a:hover {
    text-transform: uppercase;
    color: #ffa723fd;
    transition: all 0.3s;
}

.image-banniere-yt {
    background: url('images/cover.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(92, 92, 92) 1px 1px 3px;
}

.contenu-banniere-yt {
    margin-top: 39px;
    text-align: center;
    color: #fff;
}


.contenu-banniere-yt h1 {
    text-transform: uppercase;
    line-height: 39px;
    margin-bottom: 16px;
}

.contenu-banniere-yt h1 span {
    color: #ffa723fd;
}

.about-yt {
    text-align: center;
    padding: 5% 10%;
}

/*  Game Style and preparation for the javascript code */
#mot {
    margin: 30px 0 0 0;
    clear: both;
    top: 100px;
}

#mot td {
    padding: 20px;
    background-color: #1ee193;
    border: 2px inset black;
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

#mot p {
    visibility: hidden;
}

#clavier {
    border: 5px outset black;
    padding: 15px;
    background-color: rgba(17, 17, 17, 0.733);
}

#clavier td {
    background-color: #fff;
    border: 5px solid black;
    width: 35px;
    height: 45px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

a.lien {
    border: solid 1px black;

}

.mot-clavier {
    display: flex;
    flex-direction: column;
}

.jeu {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    padding-top: 15px;
}


.hidden h1 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.hidden_ {
    display: none;
    text-align: center;
    padding: 5% 10%;
}

.pendu-img {
    padding-left: 40px;
    padding-bottom: 15px;
}

.pendu-mot {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}


.all-img-cache {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.all-img-cache .img-cache {
    width: 30%;
}

.all-img-cache .img-cache img {
    width: 100%;
    margin-bottom: 25px;
    box-shadow: grey 1px 2px 3px;
}


.hidden_msg {

    display: none;
}

.hidden_msg p {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

#victory-text p {
    color: #199c0d;
    background-color: #f5f5f5;
}

#defeat-text p {
    color: #db0b0b;
    background-color: #f5f5f5;
}

/* //////////////////////////////////////////  GALLERY ///////////////////////////////////////////////////: */


.image-banniere-gallery {
    background: url('gallery-pic/cover.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(92, 92, 92) 1px 1px 3px;
}

.contenu-banniere-gallery {
    margin-top: 35px;
    text-align: center;
    color: rgb(248, 248, 248);
}



.contenu-banniere-gallery h1 {
    text-transform: uppercase;
    line-height: 39px;
    margin-bottom: 16px;
}

.contenu-banniere-gallery h1 span {
    color: #ffa600da;
}

.article-gallery {
    background: #f5f5f5;
    text-align: center;
    padding: 5% 10%;

}

.all-article-gallery {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.all-article-gallery .all-article-gallery-item {
    width: 30%;
}

.all-article-gallery .all-article-gallery-item img {
    width: 100%;
    margin-bottom: 8px;
    box-shadow: grey 1px 2px 3px;
    border-radius: 4%;
}

.all-article-gallery .all-article-gallery-item h3 {
    margin-bottom: 15px;
    color: rgba(97, 95, 95, 0.842);
    font-size: medium;
    font-style: italic;


}


/* //////////////////////////////////////////////// WHAT ABOUT US PAGE /////////////////////////////////////////// */

.logo-was a {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

.header-was .header-items ul li a {
    text-transform: uppercase;
    color: #fff;
}

.header-was .header-items ul li a:hover {
    text-transform: uppercase;
    color: #ffa600da;
    transition: all 0.3s;
}

.image-banniere-was {
    background: url('was-pic/cover.jpg') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(92, 92, 92) 1px 1px 3px;
}

.contenu-banniere-was {
    margin-top: 35px;
    text-align: center;
    color: rgb(248, 248, 248);
}


.contenu-banniere-was h1 {
    text-transform: uppercase;
    line-height: 39px;
    margin-bottom: 16px;
}

.contenu-banniere-was h1 span {
    color: #3131319f;
}

.article-was {
    text-align: center;
    padding: 5% 10%;

}

.article-was {
    text-align: center;
    padding: 5% 10%;
    background: #f5f5f5;

}

.all-article-was {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.all-article-was .all-article-was-item {
    width: 30%;
}

.all-article-was .all-article-was-item img {
    width: 100%;
    margin-bottom: 25px;
    box-shadow: grey 1px 2px 3px;
    border-radius: 4%;
}

.all-article-was .all-article-was-item h3 {
    margin-bottom: 15px;
    color: #3131319f;
    text-decoration: underline;

}

.all-article-was img {
    border-radius: 50%;
}

.all-article-was img:hover {
    cursor: pointer;
}